Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.dll filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/iOS/Firebase/libFirebaseCppMessaging.a filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/tvOS/Firebase/libFirebaseCppMessaging.a filter=lfs diff=lfs merge=lfs -text
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.0.0/firebase-app-unity-12.0.0.aar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository/com/google/firebase/firebase-messaging-unity/11.8.1/firebase-messaging-unity-12.0.0.srcaar filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
